input[type=radio]
{
  display: none;
  

  & + label
  {
    position: relative;
    svg
    {
      height: 18px;

      .outer
      {
        transition: fill .3s ease-in-out .3s;
        fill: none;
        stroke-width: 3px;
        stroke: #DBDBDB;
        r: 30px;
      }

      .inner
      {
        fill: none;
        transition: r .3s ease-in-out .3s;
        r: 28px;
      }
    }
    
    &:hover
    {
      svg
      {
        .outer
        {
          fill: none;
        }

        .inner
        {
          r: 17px;
        }
      }
    }
  }

  &:checked
  {
    & + label
    {
      svg
      {
        .outer
        {
          transition: fill .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          fill: #2196F3;
          stroke: none;
        }

        .inner
        {
          fill: #FFFFFF;
          transition: r .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          r: 14px;
        }
      }
    }
  }
}